.button-close::before,
.button-close::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 5px;
  color: green;
  width: 30px;
  height: 5px;
  transform: rotate(45deg);
  background-color: @white;
}

.button-close::before {
  transform: rotate(45deg);
}

.button-close::after {
  transform: rotate(-45deg);
}

@media (min-width: @tablet-width) {
  .button-close {
    display: none;
  }
}
