.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  display: block;
}

.copyright__link {
  display: block;
  margin: 5px 0 0 10px;
}
