.emotions {
  border: none;
  padding: 0;
  margin: 0 0 44px;
}

.emotions__title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  width: 100%;
  padding: 20px 0 20px;
  border-top: 1px solid #e5e5e5;
  margin: 0;
}

.emotions__comment {
  padding: 0 20px;
  width: 280px;
}

.emotions__comment textarea {
  resize: none;
  width: 280px;
  min-height: 160px;
  border: none;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.emotions__comment textarea:hover {
  background-color: #e5e5e5;
}

.emotions__comment textarea:active {
  background-color: @white;
  box-shadow: inset 0px 0px 0px 4px #f2f2f2;
}

.emotions textarea[placeholder="Опишите подробно все свои восторги"] {
  font-family: @font-family;
  padding-top: 15px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.emotions textarea::placeholder {
  color: #000000;
  opacity: 1;
}


@media (min-width: @tablet-width) {
  .emotions {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 55px;
  }

  .emotions__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    border: none;
    margin-bottom: 35px;
  }

  .emotions__title::before,
  .emotions__title::after {
    content: " ";
    flex-grow: 1;
    flex-shrink: 0;
    width: 10px;
    height: 1px;
    background-color: #000000;
  }

  .emotions__title::before {
    margin-right: 70px;
  }

  .emotions__title::after {
    margin-left: 70px;
  }

  .emotions__comment {
    width: 648px;
    padding: 0;
  }

  .emotions__comment textarea {
    width: 648px;
    box-sizing: border-box;
  }

  .emotions textarea[placeholder="Опишите подробно все свои восторги"] {
    padding-top: 20px;
  }
}

@media (min-width: @desktop-width) {
  .emotions {
    margin-top: 8px;
  }

  .emotions__title {
    margin-top: 0;
  }

  .emotions__comment {
    width: 960px;
  }

  .emotions__comment textarea {
    width: 960px;
  }

  .emotions textarea[placeholder="Опишите подробно все свои восторги"] {
    padding-top: 16px;
  }
}
