.feedback {
  margin-top: 40px;
}

.feedback__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 25px;
}

.feedback__text {
  text-align: center;
  padding: 0 20px;
  line-height: 24px;
}

.feedback__send {
  font-family: @font-family;
  text-transform: uppercase;
  border: none;
  background-color: #81b3d2;
  margin: 0 auto 75px;
  width: 280px;
  padding: 15px 0;
}

.feedback__send:hover {
  background-color: #669ec0;
}

.feedback__send:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.feedback__send:disabled {
  background-color: #e5e5e5;
}

.feedback__notice {
  display: none;
}

@media (min-width: @tablet-width) {
  .feedback {
    margin-top: 75px;
    margin-bottom: 95px;
  }

  .feedback__title {
    margin: 0 auto 32px;
    font-size: 30px;
  }

  .feedback__text {
    width: 445px;
    margin: 0 auto 53px;
  }

  .feedback__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 648px;
    margin: 0 auto;
  }

  .feedback__send {
    margin: 0;
    width: 324px;
  }

  .feedback__notice {
    display: flex;
    line-height: 26px;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .feedback {
    margin-top: 110px;
  }

  .feedback__text {
    margin: 0 auto 40px;
  }

  .feedback__form {
    width: 960px;
  }

  .feedback__send {
    min-width: 480px;
  }
}
