.page-footer {
  line-height: 26px;
}

.page-footer__visit {
  display: block;
  font-size: 21px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin-bottom: 40px;
}

@media(min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .page-footer__visit {
    margin-bottom: 0;
  }
}
