.gallary {
  margin-bottom: 65px;
}

.gallary__title {
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin: 40px 0 37px;
}

.gallary__text {
  display: block;
  line-height: 24px;
  text-align: center;
  margin: 0 0 30px;
  padding: 0 20px;
}

.gallary__wrapper {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #e5e5e5;
}

.gallary__item {
  margin-bottom: 17px;
}

@media(min-width: @tablet-width) {
  .gallary__wrapper {
    border: none;
  }
  .gallary__text {
    width: 440px;
    margin: 0 auto 70px;
  }

  .gallary__item {
    margin-bottom: 0;
  }
}

@media(min-width: @desktop-width) {
  .gallary__item {
    position: relative;
    flex-grow: 1;
  }
}
