.gallary {
  margin-bottom: 33px;
}

.gallary__title {
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin: 40px 0 24px;
}

.gallary__text {
  display: block;
  line-height: 24px;
  text-align: center;
  margin: 0 0 27px;
  padding: 0 20px;
}

.gallary__wrapper {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #e5e5e5;
}

.gallary__item {
  margin-bottom: 11px;
}

@media (min-width: @tablet-width) {
  .gallary {
    margin-bottom: 66px;
  }

  .gallary__title {
    font-size: 30px;
    margin: 75px 0 30px;
  }

  .gallary__wrapper {
    border: none;
    width: 648px;
    margin: 0 auto;
  }

  .gallary__text {
    width: 440px;
    margin: 0 auto 70px;
  }

  .gallary__item {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .gallary__title {
    margin: 110px 0 30px;
  }

  .gallary__wrapper {
    width: 1200px;
  }

  .gallary__item {
    position: relative;
    flex-grow: 1;
  }
}
