.page-header {
  display: flex;
  flex-wrap: wrap;
}

.page-header__logo {
  display: flex;
  width: 100%;
  order: 1;
  justify-content: center;
}

.main-nav {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  width: 100%;
}

.main-nav__list {
  list-style: none;
  .clearfix();
}

.site-list__item {
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
}

.site-list__item a {
  display: block;
  padding: 10px 0;
  text-align: center;
  color: @white;
  background-color: #81b3d2;
}

.main-nav__toggle {
  position: absolute;
  text-indent: -1000px;
  overflow: hidden;
  top: 210px;
  right: 6px;
  background-color: transparent;
  background-image: url("../img/icon-menu.svg");
  background-position: 3px 3px;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
}
