.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-header__logo {
  display: flex;
  order: 1;
  justify-content: center;
}

@media (min-width: @tablet-width) {
  .page-header {
    position: relative;
    display: flex;
  }

  .page-header__logo {
    display: block;
    position: absolute;
    left: calc(50% - 75px);
    z-index: 1000;
  }
}
