.information {
  border: none;
  padding: 0;
  margin: 0;
}

.information__title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
}

.information__list-items {
  list-style: none;
  margin: 0;
  padding: 0 18px;
}

.information__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.information__items:last-child {
  margin-bottom: 30px;
}

.information__items label {
  color: #333333;
  line-height: 26px;
  padding-left: 24px;
}

.information__items input {
  border: none;
  background-color: #f2f2f2;
  padding: 21px 0;
  width: 79%;
}

@-moz-document url-prefix() {
  .information__items input {
    width: calc(79% - 24px);
  }
}

.information__telephone {
  position: relative;
  display: block;
  background-color: #e6e6e6;
  width: 21%;
  height: 58px;
}

.information__telephone svg,
.information__mail svg {
  position: absolute;
  left: 20px;
  top: 24px;
}

.information__mail {
  position: relative;
  display: block;
  background-color: #e6e6e6;
  width: 21%;
  height: 58px;
}

.information__items b {
  font-weight: 400;
}

.information__items input::placeholder {
  padding-left: 24px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}

@-moz-document url-prefix() {
  .information__items input[placeholder="Введите телефон"],
  .information__items input[placeholder="Введите e-mail"] {
    padding-left: 24px;
    color: #000000;
  }
}

@media (min-width: @tablet-width) {
  .information {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    order: -2;
    margin-top: 50px;
  }

  .information__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    border: none;
    margin-bottom: 6px;
  }

  .information__title::before,
  .information__title::after {
    content: "";
    flex-grow: 1;
    flex-shrink: 0;
    width: 10px;
    height: 1px;
    background-color: #000000;
  }

  @-moz-document url-prefix() {
    .information__title {
      display: flex;
      width: 100%;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
    }

    .information__title::before {
      content: "";
      flex-grow: 1;
      flex-shrink: 0;
      width: 10px;
      height: 1px;
      background-color: #000000;
    }
  }

  .information__title::before {
    margin-right: 60px;
  }

  .information__title::after {
    margin-left: 60px;
  }

  .information__list-items {
    padding: 0;
    width: 100%;
  }

  .information__items {
    margin-bottom: 20px;
  }

  .information__items input {
    margin-top: 10px;
    width: 91%;
  }

  @-moz-document url-prefix() {
    .information__items input {
      width: calc(91% - 24px);
    }
  }

  _:-ms-fullscreen, :root {
    .information__items input {
      width: calc(91% - 24px);
    }
  }

  .information__telephone,
  .information__mail {
    margin-top: 10px;
    width: 9%;
  }

  .information__telephone svg,
  .information__mail svg {
    left: 23px;
    top: 17px;
  }
}

@media (min-width: @desktop-width) {
  .information__title {
    margin-bottom: 48px;
  }

  .information__list-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .information__items {
    display: flex;
    width: 400px;
    box-sizing: border-box;
  }

  _:-ms-fullscreen, :root {
    .information__items {
      margin-bottom: 0;
    }
  }

  .information__items:last-child {
    margin-bottom: auto;
  }

  .information__items:nth-child(2) {
    width: 480px;
    justify-content: space-between;
  }

  .information__items label {
    display: block;
    padding: 0;
    width: 20%;
  }

  .information__items:nth-child(2) label {
    width: 30.5%;
    margin-right: 15px;
  }

  @supports (-ms-ime-align:auto) {
    .information__items:nth-child(2) label {
      width: 31.5%;
    }
  }

  _:-ms-fullscreen, :root {
    .information__items:nth-child(2) label {
      width: 31.5%;
    }
  }

  .information__items input {
    display: block;
    width: 65.5%;
  }

  @-moz-document url-prefix() {
    .information__items input {
      width: calc(65.5% - 24px);
    }
  }

  _:-ms-fullscreen, :root {
    .information__items input {
      width: calc(65.5% - 24px);
    }
  }

  .information__items:nth-child(2) input {
    width: calc(57.5% - 15px);
  }

  @supports (-ms-ime-align:auto) {
    .information__items:nth-child(2) input {
      width: calc(56.5% - 15px);
    }
  }

  @-moz-document url-prefix() {
    .information__items:nth-child(2) input {
      width: calc(57.5% - 24px - 15px);
    }
  }

  _:-ms-fullscreen, :root {
    .information__items:nth-child(2) input {
      width: calc(56.5% - 24px - 15px);
    }
  }

  .information__telephone {
    width: 14.5%;
  }

  .information__mail {
    width: 12%;
  }

  .information__items b {
    display: none;
  }
}
