.main-nav {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  width: 100%;
}

.main-nav__list {
  list-style: none;
  .clearfix();
}

.main-nav .button-close {
  display: none;
  position: absolute;
  top: 9px;
  right: 12px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 0;
  width: 40px;
  height: 40px;
}

.main-nav--closed .site-list__item {
  display: none;
}

.main-nav--closed .button-close {
  display: none;
}

.main-nav--opened .button-close {
  display: block;
}

.main-nav--opened .main-nav__toggle {
  display: none;
}

.main-nav--opened .site-list__item {
  display: block;
}

@media (min-width: @tablet-width) {
  .main-nav {
    font-size: 14px;
  }

  .main-nav--closed .site-list__item {
    display: block;
  }

  .main-nav--opened .button-close {
    display: none;
  }
}
