.main-nav {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  width: 100%;
}

.main-nav__list {
  list-style: none;
  .clearfix();
}

.main-nav--closed .site-list__item {
  display: none;
}

.main-nav--closed .button-close {
  display: none;
}

.main-nav--opened .button-close {
  display: block;
}

.main-nav--opened .main-nav__toggle {
  display: none;
}

.main-nav--opened .site-list__item{
  display: block;
}

@media (min-width: @tablet-width) {
  .main-nav {
    font-size: 14px;
  }

  .main-nav--closed .site-list__item {
    display: block;
  }

  .main-nav--opened .button-close {
    display: none;
  }
}


