.photo {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  padding: 22px 20px 0 20px;
  border-top: 1px solid #e5e5e5;

  img {
    width: 100%;
    margin-bottom: 10px;
    min-height: 280px;
  }
}

.photo__container {
  width: 100%;
  margin-bottom: 8px;
}

.photo__title {
  display: block;
  line-height: 24px;
  font-style: normal;
  font-weight: 700;
}

.photo__author {
  text-transform: none;
  line-height: 24px;
  margin-bottom: 15px;
}

.photo__likes {
  line-height: 24px;
  display: flex;
}

.photo__button {
  border: none;
  background-color: @white;
  display: block;
  text-indent: -1000px;
  overflow: hidden;
  width: 30px;
  height: 30px;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.photo__likes-result {
  margin-left: 7px;
}

@media (min-width: @tablet-width) {
  .photo {
    width: 50%;
    .clearfix();
    border: none;
    background-color: #eaeaea;
  }

  .photo img {
    margin: 0;
    min-height: auto;
    height: 267px;
    width: 324px;
  }

  .photo--size {
    width: 100%;
  }

  .photo--size img {
    min-height: 400px;
    width: 100%;
  }

  .photo__container-elements {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .photo__container {
    width: 180px;
    margin: 0 0 0 20px;
  }

  .photo__title {
    display: block;
    margin: 9px 0 0;
  }

  .photo__author {
    display: block;
    margin-bottom: 17px;
  }

  .photo__likes {
    display: flex;
    margin: auto 0 auto auto;
    width: 84px;
    flex-wrap: wrap;
    align-items: center;
  }

  .photo__button {
    display: block;
    background-color: inherit;
    padding: 0;
    background-position: 1px 3px;
  }

  .photo__likes-result {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
  }
}

@media (min-width: @desktop-width) {
  .photo {
    width: 33%;
    min-height: 270px;
  }
  .photo picture {
    font-size: 0;
    line-height: 0;
  }

  .photo--size {
    width: 100%;
    min-height: 400px;
  }

  .photo img {
    margin: 0;
    width: 100%;
  }

  .photo__container-elements {
    color: @white;
    position: absolute;
    display: flex;
    width: 100%;
    min-height: 80px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .photo__likes {
    padding-top: 7px;
  }

  .photo__title {
    padding-top: 20px;
    margin: 0;
  }
}
