.photo {
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
  width: 280px;
  margin: 0 auto;

  img {
    width: 100%;
    margin-bottom: 20px;
  }
}

.photo__title {
  display: block;
  line-height: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 10px;
}

.photo__author {
  text-transform: none;
  line-height: 24px;
  margin-bottom: 15px;
}

.photo__likes {
  position: relative;
  line-height: 24px;
  padding-left: 30px;
  margin: auto 0;
  margin-left: auto;
}

.photo__likes::before {
  content: "";
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (min-width: @tablet-width) {
  .photo {
    width: 50%;
    .clearfix();
  }

  .photo--size {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .photo {
    width: 33%;
  }

  .photo--size {
    width: 100%;
  }
}
