.site-list__item {
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
}

.site-list__item a {
  display: block;
  padding: 7px 0;
  text-align: center;
  color: @white;
  background-color: #81b3d2;
}

.site-list__item:hover a {
  background-color: #669ec0;
}

.site-list__item:active a {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.main-nav__toggle {
  position: absolute;
  text-indent: -1000px;
  overflow: hidden;
  right: 17px;
  bottom: -41px;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
  }

  .site-list li:nth-child(3) {
    margin-left: auto;
  }

  .site-list li:nth-child(n + 5) {
    position: relative;
    z-index: 1001;
    width: calc(100% / 4);
  }

  .site-list li:nth-child(n + 5) a {
    background-color: rgba(0, 0, 0, 0);
  }

  .site-list__item {
    border: none;
    width: 152px;
  }

  .site-list__item a {
    color: #000000;
    background-color: @white;
    padding: 6px 0;
  }

  .site-list__item:hover a {
    background-color: @white;
    color: #81b3d2;
  }

  .site-list__item:active a {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: @desktop-width) {
  .site-list__item {
    width: 240px;
  }

  .site-list__item a {
    padding: 8px 0;
  }
}
