.things {
  background-color: @white;
  list-style: none;
}

.things__item {
  margin-left: 51px;
}

.things li:not(:last-child) {
  margin-bottom: 29px;
}

.things li:last-child {
  padding-bottom: 0;
}

.things__item-caption {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 12px;
}

.things__item-caption--house::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -50px;
  width: 40px;
  height: 40px;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 40px;
}

.things__item-caption--present::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -50px;
  width: 40px;
  height: 50px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 40px;
}

.things__item-caption--food::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -50px;
  width: 40px;
  height: 40px;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 40px;
}

.things__item-text {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.things__item-text br {
  display: none;
}

@media (min-width: @tablet-width) {
  .things {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .things__item {
    display: block;
    width: 255px;
    .clearfix();
  }

  .things li:nth-child(2) {
    order: 3;
  }

  .things li:not(:last-child) {
    margin-bottom: 0;
  }

  .things__item-caption {
    font-size: 21px;
    margin-top: 121px;
    margin-bottom: 20px;
    text-align: center;
  }

  .things__item-caption--house::before {
    top: -100px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    background-size: 80px;
  }

  .things__item-caption--present::before {
    top: -100px;
    left: calc(50% - 30px);
    width: 80px;
    height: 100px;
    background-size: 62px;
  }

  .things__item-caption--food::before {
    top: -100px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    background-size: 80px;
  }

  .things__item-text {
    text-align: center;
    width: 185px;
    margin: 0 auto;
  }

  .things__item-text br {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list-things {
    padding: 38px 0 83px;
  }

  .things__item {
    width: 400px;
  }

  .things__item-text {
    width: 290px;
  }
}
