.trip {
  margin-bottom: 30px;
}

.trip__title {
  display: block;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin: 32px 0 20px;
  padding: 0;
}

.trip__text {
  display: block;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  padding: 0 20px;
  margin: 0 0 35px;
}

.trip__button {
  padding: 15px 0;
  margin: 0 21px 50px;
  background-color: #81b3d2;
}

.trip__button:hover {
  background-color: #669ec0;
}

.trip__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.trip__map {
  display: block;
}

.trip br {
  display: none;
}

@media (min-width: @tablet-width) {
  .trip {
    margin-bottom: 26px;
  }

  .trip__title {
    font-size: 30px;
    line-height: 26px;
    margin: 53px 0 31px;
  }

  .trip__text {
    margin: 0 0 43px;
  }

  .trip br {
    display: block;
  }

  .trip__button {
    width: 458px;
    box-sizing: border-box;
    margin: 0 auto 60px;
  }

  .trip__map {
    width: 768px;
  }

  .trip__map-image {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .trip {
    margin-bottom: 27px;
  }

  .trip__text {
    margin: 0 0 50px;
  }

  .trip__button {
    margin: 0 auto 67px;
  }

  .trip__map {
    width: 1200px;
  }

  .trip__map-image {
    width: 1200px;
  }
}
