.video {
  margin-bottom: 123px;
}

.video__title {
  display: block;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 27px;
}

.video__text {
  display: block;
  line-height: 24px;
  text-align: center;
  margin-bottom: 24px;
  padding: 0 40px;
}

@media (min-width: @tablet-width) {
  .video {
    margin-bottom: 146px;
  }

  .video__title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .video__text {
    width: 440px;
    margin: 0 auto;
  }

  .video__content {
    width: 648px;
    text-align: center;
    margin: 0 auto;
    min-height: 500px;
  }
}

@media (min-width: @desktop-width) {
  .video {
    margin-bottom: 190px;
  }

  .video__content {
    width: 800px;
  }

  .video__title {
    margin-bottom: 33px;
  }
}
