body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: @font-family;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-container {
  max-width: 320px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .site-container {
    max-width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .site-container {
    max-width: 1200px;
  }
}
