@font-face {
  font-weight: 400;
  font-family: "PT sans";
  font-style: normal;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "PT sans";
  font-style: normal;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "PT sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.site-container {
  max-width: 320px;
  margin: 0 auto;
  -webkit-box-shadow: 1px 20px 20px 13px #9c9c9c;
          box-shadow: 1px 20px 20px 13px #9c9c9c;
}
@media (min-width: 768px) {
  .site-container {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .site-container {
    max-width: 1200px;
  }
}
.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  padding: 0 20px;
  margin: 0 0 25px;
}
.advantages__reasons {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin: 0 0 6px;
}
.advantages__list-reasons {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}
.advantages__item--wrapper {
  background-color: #81b3d2;
}
.advantages__list-reasons li:last-child {
  padding-bottom: 25px;
}
.advantages__item:nth-child(3),
.advantages__item:nth-child(4) {
  margin-bottom: 25px;
}
.advantages__item-caption {
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 0 10px;
  padding-top: 28px;
}
.advantages__item-caption--line-top {
  width: 280px;
  border-top: 1px solid #ded9d9;
  margin-left: auto;
  margin-right: auto;
}
.advantages__item-caption--style {
  color: #ffffff;
  padding-top: 40px;
}
.advantages__item-caption--triangle {
  background: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  padding-top: 78px;
  background-size: contain;
}
.advantages__item-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 14px;
}
.advantages__item-number::before,
.advantages__item-number::after {
  content: "";
  width: 10px;
  height: 1px;
  margin: 0 5px;
  background-color: #000000;
}
.advantages__item-number--style {
  color: #ffffff;
}
.advantages__item-number--style::before,
.advantages__item-number--style::after {
  background-color: #ffffff;
}
.advantages__item-text {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  padding: 0;
  padding: 0 20px;
}
.advantages__item-text--style {
  color: #ffffff;
  padding-bottom: 39px;
}
.advantages__item-text br {
  display: none;
}
.advantages__item:nth-child(4) .advantages__item-text {
  padding: 0 40px;
}
.advantages__item-picture {
  display: block;
  margin: 0 auto;
}
.advantages__list-things {
  padding: 38px 20px 38px;
  margin: 0;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 21px;
    padding: 0 160px;
    margin: 0 0 30px;
  }
  .advantages__reasons {
    margin-bottom: 49px;
  }
  .advantages__list-reasons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .advantages__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .advantages__item img {
    height: 256px;
  }
  .advantages__container {
    display: block;
    width: 255px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .advantages__container-reverse {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .advantages__item-caption {
    width: 160px;
    margin: 0 auto 10px;
    font-size: 21px;
  }
  .advantages__item-caption--line-top {
    border: none;
  }
  .advantages__item-caption--triangle {
    background: none;
    padding-top: 45px;
  }
  .advantages__item-number {
    margin-bottom: 20px;
  }
  .advantages__item-text {
    width: 180px;
    margin: 0 auto;
  }
  .advantages__item-picture {
    margin: 0;
    padding: 0;
    width: 513px;
  }
  .advantages__item--size {
    width: 33%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantages__container-bottom {
    margin: 10px 0 0 0;
  }
  .advantages__list-things {
    padding: 38px 0 67px;
  }
  .advantages__list-reasons li:last-child {
    padding-bottom: 48px;
  }
}
@media (min-width: 1200px) {
  .advantages__title {
    padding: 0 375px;
  }
  .advantages__container {
    width: 400px;
  }
  .advantages__item-caption {
    padding-top: 50px;
  }
  .advantages__item-text {
    width: 290px;
  }
  .advantages__container-bottom {
    margin: -5px 0 0 0;
  }
  .advantages__item-text br {
    display: block;
  }
  .advantages__item-picture {
    width: 800px;
  }
  .advantages__list-reasons li:last-child {
    padding-bottom: 65px;
  }
}
.about-you {
  border: none;
  padding: 0;
  margin: 0;
}
.about-you__title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
  margin: 0;
}
.about-you__list-items {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 280px;
  overflow: hidden;
}
.about-you__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
.about-you__items:last-child {
  margin-bottom: 23px;
}
.about-you__items label {
  color: #333333;
  line-height: 26px;
  margin-right: 16px;
}
.about-you__items input {
  border: none;
  background-color: #f2f2f2;
  padding: 15px 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
.about-you__items input:hover {
  background-color: #e5e5e5;
}
.about-you__items input:active {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0px 0px 0px 4px #f2f2f2;
          box-shadow: inset 0px 0px 0px 4px #f2f2f2;
}
.about-you__items input[placeholder="Петр"],
.about-you__items input[placeholder="Иванов"],
.about-you__items input[placeholder="Александрович"] {
  padding-left: 20px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}
.about-you__items input::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
}
.about-you__items input:-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}
.about-you__items input::-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}
.about-you__items input::placeholder {
  color: #000000;
  opacity: 1;
}
@media (min-width: 768px) {
  .about-you {
    width: 50%;
    -webkit-box-ordinal-group: -2;
        -ms-flex-order: -3;
            order: -3;
  }
  .about-you__title {
    font-size: 21px;
    border: none;
    text-align: left;
    padding-left: 58px;
    margin-bottom: 38px;
  }
  .about-you__list-items {
    padding: 0 0 0 54px;
    width: 270px;
  }
  .about-you__items {
    margin-bottom: 22px;
  }
  .about-you__items:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .about-you__title {
    display: block;
    padding-left: 80px;
  }
  .about-you__list-items {
    padding: 0 0 0 80px;
    width: 400px;
  }
}
.button {
  display: block;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.copyright__text {
  display: block;
}
.copyright__link {
  display: block;
  margin: 5px 0 0 10px;
}
.copyright__link:hover svg {
  fill: #81b3d2;
}
.copyright__link:active svg {
  fill: #b2b2b2;
}
.error {
  display: none;
  position: fixed;
  background: #ffffff;
  width: 320px;
  min-height: 265px;
  top: 50%;
  -webkit-box-shadow: 0 20px 20px -20px #a59696;
          box-shadow: 0 20px 20px -20px #a59696;
}
.error__caption {
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  width: 204px;
  text-align: center;
  margin: 10px auto 35px;
}
.error__text {
  line-height: 24px;
  width: 220px;
  text-align: center;
  margin: 0 auto 30px;
}
.error__button {
  display: block;
  color: #ffffff;
  padding: 20px 80px;
  background-color: #81b3d2;
  width: 180px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  font-weight: 700;
}
@media (min-width: 768px) {
  .error {
    width: 398px;
    min-height: 350px;
    left: calc(50% - 199px);
  }
  .error__caption {
    font-size: 30px;
    line-height: 40px;
    width: 226px;
    margin: 65px auto 35px;
  }
  .error__text {
    width: 300px;
    margin: 0 auto 40px;
  }
  .error__button {
    width: 272px;
    padding: 20px 115px 20px 122px;
    font-size: 21px;
    line-height: 26px;
  }
}
@media (min-width: 1200px) {
  .error {
    width: 400px;
    min-height: 385px;
  }
}
.emotions {
  border: none;
  padding: 0;
  margin: 0 0 44px;
}
.emotions__title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  width: 100%;
  padding: 20px 0 20px;
  border-top: 1px solid #e5e5e5;
  margin: 0;
}
.emotions__comment {
  padding: 0 20px;
  width: 280px;
}
.emotions__comment textarea {
  resize: none;
  width: 280px;
  min-height: 160px;
  border: none;
  background-color: #f2f2f2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.emotions__comment textarea:hover {
  background-color: #e5e5e5;
}
.emotions__comment textarea:active {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0px 0px 0px 4px #f2f2f2;
          box-shadow: inset 0px 0px 0px 4px #f2f2f2;
}
.emotions textarea[placeholder="Опишите подробно все свои восторги"] {
  padding-top: 15px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
.emotions textarea::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
}
.emotions textarea:-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}
.emotions textarea::-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}
.emotions textarea::placeholder {
  color: #000000;
  opacity: 1;
}
@media (min-width: 768px) {
  .emotions {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 55px;
  }
  .emotions__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 21px;
    border: none;
    margin-bottom: 35px;
  }
  .emotions__title::before,
  .emotions__title::after {
    content: " ";
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 10px;
    height: 1px;
    background-color: #000000;
  }
  .emotions__title::before {
    margin-right: 70px;
  }
  .emotions__title::after {
    margin-left: 70px;
  }
  .emotions__comment {
    width: 648px;
    padding: 0;
  }
  .emotions__comment textarea {
    width: 648px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .emotions textarea[placeholder="Опишите подробно все свои восторги"] {
    padding-top: 20px;
  }
}
@media (min-width: 1200px) {
  .emotions {
    margin-top: 8px;
  }
  .emotions__title {
    margin-top: 0;
  }
  .emotions__comment {
    width: 960px;
  }
  .emotions__comment textarea {
    width: 960px;
  }
  .emotions textarea[placeholder="Опишите подробно все свои восторги"] {
    padding-top: 16px;
  }
}
.feedback {
  margin-top: 40px;
}
.feedback__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 25px;
}
.feedback__text {
  text-align: center;
  padding: 0 20px;
  line-height: 24px;
}
.feedback__send {
  text-transform: uppercase;
  border: none;
  background-color: #81b3d2;
  margin: 0 auto 75px;
  width: 280px;
  padding: 15px 0;
}
.feedback__send:hover {
  background-color: #669ec0;
}
.feedback__send:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.feedback__send:disabled {
  background-color: #e5e5e5;
}
.feedback__notice {
  display: none;
}
@media (min-width: 768px) {
  .feedback {
    margin-top: 75px;
    margin-bottom: 95px;
  }
  .feedback__title {
    margin: 0 auto 32px;
    font-size: 30px;
  }
  .feedback__text {
    width: 445px;
    margin: 0 auto 53px;
  }
  .feedback__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 648px;
    margin: 0 auto;
  }
  .feedback__send {
    margin: 0;
    width: 324px;
  }
  .feedback__notice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 26px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 1200px) {
  .feedback {
    margin-top: 110px;
  }
  .feedback__text {
    margin: 0 auto 40px;
  }
  .feedback__form {
    width: 960px;
  }
  .feedback__send {
    min-width: 480px;
  }
}
.page-footer {
  line-height: 26px;
  padding-bottom: 16px;
}
.page-footer__visit {
  display: block;
  font-size: 21px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 37px;
  }
  .page-footer__visit {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .page-footer__visit {
    margin-left: 120px;
  }
  .page-footer__social {
    margin-left: 265px;
  }
  .page-footer__copyright {
    margin-left: 270px;
  }
}
.greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 390px;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, 50% 50%;
  background-size: cover, auto;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .greeting {
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: center bottom, 50% 100%;
    background-size: cover, cover;
  }
}
.greeting img {
  margin-top: 70px;
  max-width: none;
  height: 210px;
}
@media (min-width: 768px) {
  .greeting {
    min-height: 518px;
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-position: center bottom, 50% 50%;
    background-size: contain, auto;
  }
  .greeting img {
    max-width: 100%;
    height: auto;
    width: 465px;
    margin: 80px 0 10px 2px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .greeting {
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@2x.jpg");
    background-position: center bottom, 50% 50%;
    background-size: contain, 768px;
  }
}
@media (min-width: 1200px) {
  .greeting {
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-position: center bottom, 50% 50%;
    background-size: contain, auto;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .greeting {
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
    background-position: center bottom, 50% 50%;
    background-size: contain, 1200px;
  }
}
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .page-header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page-header__logo {
    display: block;
    position: absolute;
    left: calc(50% - 52px);
    z-index: 1000;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    left: calc(50% - 95px);
  }
  .page-header__logo img {
    width: 190px;
    height: auto;
  }
}
.impression {
  border: none;
  padding: 0;
  margin: 0;
}
.impression__title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  width: 100%;
  padding: 17px 0 20px;
  margin: 0;
  border-top: 1px solid #e5e5e5;
}
.impression__list-items {
  list-style: none;
  margin: 0;
  padding: 0 20px;
}
.impression__items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 28px;
  text-transform: none;
}
.impression__items:last-child {
  margin-bottom: 44px;
}
.impression__items label {
  position: relative;
  color: #333333;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-top: 15px;
  padding-left: 76px;
}
.impression__radio {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-image: url("../img/icon-map-markeroff.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.impression__radio:hover {
  background-image: url("../img/icon-map-markeroff-hover.svg");
}
.impression__radio:active {
  background-image: url("../img/icon-map-markeroff-active.svg");
}
.impression__good:checked + .impression__radio::before,
.impression__bad:checked + .impression__radio::before,
.impression__сomplicate:checked + .impression__radio::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-image: url("../img/icon-map-makerblack.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.impression__good:checked + .impression__radio:hover::before,
.impression__bad:checked + .impression__radio:hover::before,
.impression__сomplicate:checked + .impression__radio:hover::before {
  background-image: url("../img/icon-map-makerblack-hover.svg");
}
.impression__good:checked + .impression__radio:active::before,
.impression__bad:checked + .impression__radio:active::before,
.impression__сomplicate:checked + .impression__radio:active::before {
  background-image: url("../img/icon-map-makerblack-active.svg");
}
@media (min-width: 768px) {
  .impression {
    width: 50%;
    -webkit-box-ordinal-group: -3;
        -ms-flex-order: -4;
            order: -4;
    border-right: 1px solid #dbdbdb;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .impression__title {
    font-size: 21px;
    border: none;
    text-align: left;
    margin-bottom: 40px;
  }
  .impression__items {
    margin-bottom: 35px;
  }
  .impression__items:last-child {
    margin-bottom: 0;
  }
  .impression__items label {
    padding-left: 55px;
  }
  .impression__radio {
    left: -18px;
  }
}
@media (min-width: 1200px) {
  .impression__title {
    display: block;
    padding-left: 80px;
  }
  .impression__items label {
    padding-left: 60px;
  }
  .impression__radio {
    left: -14px;
  }
}
.main-nav {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  width: 100%;
}
.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .main-nav {
    font-size: 14px;
  }
}
.page-main__greeting {
  margin: -36px 0 40px;
}
@media (min-width: 768px) {
  .page-main__greeting {
    margin: 0 0 50px;
  }
}
.landmarks {
  border: none;
  padding: 0;
  margin: 0;
}
.landmarks__title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  width: 100%;
  padding: 17px 0 20px;
  border-top: 1px solid #e5e5e5;
  margin: 0;
}
.landmarks__list-items {
  text-transform: none;
  list-style: none;
  margin: 0;
  padding: 0 20px;
}
.landmarks__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}
.landmarks__items:last-child {
  margin-bottom: 40px;
}
.landmarks__items label {
  position: relative;
  color: #333333;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-top: 9px;
  padding-left: 79px;
}
.landmarks__checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 56px;
  background-color: #f2f2f2;
}
.landmarks__checkbox:hover {
  background-color: #e5e5e5;
}
.landmarks__checkbox:active {
  background-color: #d5d5d5;
}
.landmarks__bridge:checked + .landmarks__checkbox::before,
.landmarks__mount:checked + .landmarks__checkbox::before,
.landmarks__park:checked + .landmarks__checkbox::before,
.landmarks__red-mount:checked + .landmarks__checkbox::before {
  position: absolute;
  content: "";
  width: 55px;
  height: 56px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 17px 20px;
}
.landmarks__bridge:checked + .landmarks__checkbox:active::before,
.landmarks__mount:checked + .landmarks__checkbox:active::before,
.landmarks__park:checked + .landmarks__checkbox:active::before,
.landmarks__red-mount:checked + .landmarks__checkbox:active::before {
  background-image: url("../img/icon-tick-active.svg");
}
@media (min-width: 768px) {
  .landmarks {
    width: 100%;
  }
  .landmarks__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 21px;
    border: none;
    width: 100%;
    padding: 20px 0 22px;
    margin: 0 auto 24px;
  }
  .landmarks__title::before,
  .landmarks__title::after {
    content: " ";
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 10px;
    height: 1px;
    background-color: #000000;
  }
  .landmarks__title::before {
    margin-right: 65px;
  }
  .landmarks__title::after {
    margin-left: 65px;
  }
  .landmarks__list-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 90px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .landmarks__items {
    min-width: 200px;
    margin-bottom: 55px;
  }
  .landmarks__items:last-child {
    margin-bottom: 55px;
  }
}
@media (min-width: 1200px) {
  .landmarks__title {
    padding-top: 30px;
  }
  .landmarks__list-items {
    padding: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .landmarks__items {
    min-width: auto;
  }
  .landmarks__items:not(:last-child) {
    margin-right: 69px;
  }
  .landmarks__items label {
    padding-top: 16px;
  }
}
.gallary {
  margin-bottom: 30px;
}
.gallary__title {
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin: 40px 0 24px;
}
.gallary__text {
  display: block;
  line-height: 24px;
  text-align: center;
  margin: 0 0 27px;
  padding: 0 20px;
}
.gallary__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #e5e5e5;
}
.gallary__item {
  margin-bottom: 11px;
}
@media (min-width: 768px) {
  .gallary {
    margin-bottom: 66px;
  }
  .gallary__title {
    font-size: 30px;
    margin: 75px 0 30px;
  }
  .gallary__wrapper {
    border: none;
    width: 648px;
    margin: 0 auto;
  }
  .gallary__text {
    width: 440px;
    margin: 0 auto 70px;
  }
  .gallary__item {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .gallary {
    margin-bottom: 70px;
  }
  .gallary__title {
    margin: 110px 0 30px;
  }
  .gallary__wrapper {
    width: 1200px;
  }
  .gallary__item {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 280px;
  padding: 22px 20px 0 20px;
  border-top: 1px solid #e5e5e5;
}
.photo img {
  width: 100%;
  margin-bottom: 10px;
  min-height: 280px;
}
.photo__container {
  width: 100%;
  margin-bottom: 8px;
}
.photo__title {
  display: block;
  line-height: 24px;
  font-style: normal;
  font-weight: 700;
}
.photo__author {
  text-transform: none;
  line-height: 24px;
  margin-bottom: 15px;
}
.photo__likes {
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.photo__button {
  border: none;
  background-color: #ffffff;
  display: block;
  text-indent: -1000px;
  overflow: hidden;
  width: 30px;
  height: 30px;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.photo__likes-result {
  margin-left: 7px;
}
@media (min-width: 768px) {
  .photo {
    width: 50%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #eaeaea;
  }
  .photo img {
    margin: 0;
    min-height: auto;
    height: 267px;
    width: 324px;
  }
  .photo--size {
    width: 100%;
  }
  .photo--size img {
    min-height: 400px;
    width: 100%;
  }
  .photo__container-elements {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .photo__container {
    width: 180px;
    margin: 0 0 0 20px;
  }
  .photo__title {
    display: block;
    margin: 9px 0 0;
  }
  .photo__author {
    display: block;
    margin-bottom: 17px;
  }
  .photo__likes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto 0 auto auto;
    width: 84px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .photo__button {
    display: block;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    background-position: 1px 3px;
  }
  .photo__likes-result {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
  }
}
@media (min-width: 1200px) {
  .photo {
    width: 33%;
    min-height: 268px;
  }
  .photo picture {
    font-size: 0;
    line-height: 0;
  }
  .photo--size {
    width: 100%;
    min-height: 400px;
  }
  .photo img {
    margin: 0;
    width: 100%;
  }
  .photo__container-elements {
    color: #ffffff;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 80px;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .photo__likes {
    padding-top: 7px;
  }
  .photo__title {
    padding-top: 20px;
    margin: 0;
  }
  .photo__button {
    background-image: url(../img/icon-like-white.svg);
  }
}
.information {
  border: none;
  padding: 0;
  margin: 0;
}
.information__title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
  margin: 0;
}
.information__list-items {
  list-style: none;
  margin: 0;
  padding: 0 18px;
}
.information__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.information__items:last-child {
  margin-bottom: 30px;
}
.information__items label {
  color: #333333;
  line-height: 26px;
  padding-left: 24px;
}
.information__items input {
  border: none;
  background-color: #f2f2f2;
  padding: 17px 0;
  width: 79%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.information__items input:hover {
  background-color: #e5e5e5;
}
.information__items input:active {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0px 0px 0px 4px #f2f2f2;
          box-shadow: inset 0px 0px 0px 4px #f2f2f2;
}
.information__telephone {
  position: relative;
  display: block;
  background-color: #e6e6e6;
  width: 21%;
  height: 58px;
}
.information__telephone svg,
.information__mail svg {
  position: absolute;
  left: 20px;
  top: 24px;
}
.information__mail {
  position: relative;
  display: block;
  background-color: #e6e6e6;
  width: 21%;
  height: 58px;
}
.information__items b {
  font-weight: 400;
}
.information__items input[placeholder="Введите телефон"],
.information__items input[placeholder="Введите e-mail"] {
  padding-left: 24px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}
.information__items input::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
}
.information__items input:-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}
.information__items input::-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}
.information__items input::placeholder {
  color: #000000;
  opacity: 1;
}
@media (min-width: 768px) {
  .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    margin-top: 50px;
  }
  .information__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 21px;
    border: none;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 6px;
  }
  .information__title::before,
  .information__title::after {
    content: "";
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 10px;
    height: 1px;
    background-color: #000000;
  }
  .information__title::before {
    margin-right: 60px;
  }
  .information__title::after {
    margin-left: 60px;
  }
  .information__list-items {
    padding: 0;
    width: 100%;
  }
  .information__items {
    margin-bottom: 20px;
  }
  .information__items input {
    margin-top: 6px;
    width: 91%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .information__telephone,
  .information__mail {
    width: 9%;
  }
  .information__telephone svg,
  .information__mail svg {
    left: 23px;
    top: 23px;
  }
}
@media (min-width: 1200px) {
  .information__title {
    margin-bottom: 50px;
  }
  .information__list-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .information__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 20px;
  }
  .information__items:nth-child(2) {
    width: 480px;
    margin-bottom: 20px;
  }
  .information__items label {
    display: block;
    padding: 0;
    padding-right: 14px;
  }
  .information__items input {
    width: 258px;
    margin: 0;
  }
  .information__telephone,
  .information__mail {
    width: 58px;
    margin: 0;
  }
  .information__telephone svg,
  .information__mail svg {
    left: 23px;
    top: 22px;
  }
  .information__items b {
    display: none;
  }
}
.send-complite {
  display: none;
  position: fixed;
  background: #ffffff;
  width: 320px;
  top: calc(50% - 200px);
  -webkit-box-shadow: 0 20px 20px -20px #a59696;
          box-shadow: 0 20px 20px -20px #a59696;
}
.send-complite__caption {
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  width: 207px;
  text-align: center;
  margin: 10px auto 35px;
}
.send-complite__text {
  line-height: 24px;
  width: 220px;
  text-align: center;
  margin: 0 auto 43px;
}
.send-complite__color {
  background-color: #f2f2f2;
  padding: 20px 0;
}
.send-complite__button {
  display: block;
  color: #ffffff;
  padding: 20px 80px 20px 90px;
  background-color: #81b3d2;
  width: 280px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  font-weight: 700;
}
@media (min-width: 768px) {
  .send-complite {
    width: 648px;
    left: calc(50% - 328px);
  }
  .send-complite__caption {
    font-size: 30px;
    line-height: 40px;
    width: 366px;
    margin: 65px auto 35px;
  }
  .send-complite__text {
    width: 433px;
    margin: 0 auto 40px;
  }
  .send-complite__color {
    padding: 34px 0;
  }
  .send-complite__button {
    width: 460px;
    padding: 20px 155px 20px 155px;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .send-complite {
    width: 640px;
  }
  .send-complite__color {
    padding: 45px 0;
  }
}
.site-list__item {
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
}
.site-list__item a {
  display: block;
  padding: 7px 0;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}
.site-list__item:hover a {
  background-color: #669ec0;
}
.site-list__item:active a {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.main-nav__toggle {
  position: absolute;
  text-indent: -1000px;
  overflow: hidden;
  right: 17px;
  top: 235px;
}
@media (min-width: 768px) {
  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .site-list li:nth-child(3) {
    margin-left: auto;
  }
  .site-list__item {
    border: none;
    width: 152px;
  }
  .site-list__item a {
    color: #000000;
    background-color: #ffffff;
    padding: 6px 0;
  }
  .site-list__item:hover a {
    background-color: #ffffff;
    color: #81b3d2;
  }
  .site-list__item:active a {
    color: rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 1200px) {
  .site-list__item {
    width: 240px;
  }
  .site-list__item a {
    padding: 8px 0;
  }
}
.social__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
.social__list li:not(:last-child) {
  margin-right: 5px;
}
.social__tw {
  display: block;
  padding: 15px;
  background: #81b3d2;
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px;
  width: 20px;
  height: 20px;
}
.social__fb {
  display: block;
  padding: 15px;
  background: #81b3d2;
  background-image: url("../img/icon-facebook.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 10px;
  width: 20px;
  height: 20px;
}
.social__yt {
  display: block;
  padding: 15px;
  background: #81b3d2;
  background-image: url("../img/icon-youtube.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px;
  width: 20px;
  height: 20px;
}
.social__tw:hover,
.social__fb:hover,
.social__yt:hover {
  background-color: #669ec0;
}
.social__tw:active,
.social__fb:active,
.social__yt:active {
  background-color: #5496bd;
}
.social__tw:active {
  background-image: url("../img/icon-twitter-active.svg");
}
.social__fb:active {
  background-image: url("../img/icon-facebook-active.svg");
}
.social__yt:active {
  background-image: url("../img/icon-youtube-active.svg");
}
@media (min-width: 768px) {
  .social__list {
    margin-bottom: 0;
  }
}
.toggle-menu {
  display: block;
  background-color: transparent;
  background-image: url("../img/icon-menu.svg");
  background-position: 3px 3px;
  background-repeat: no-repeat;
  background-size: 25px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
}
@media (min-width: 768px) {
  .toggle-menu {
    display: none;
  }
}
.main-nav .button-close {
  position: absolute;
  top: 9px;
  right: 12px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 0;
  width: 40px;
  height: 40px;
}
.button-close::before,
.button-close::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 5px;
  color: green;
  width: 30px;
  height: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #ffffff;
}
.button-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.button-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
@media (min-width: 768px) {
  .button-close {
    display: none;
  }
}
.things {
  background-color: #ffffff;
  list-style: none;
}
.things__item {
  margin-left: 51px;
}
.things li:not(:last-child) {
  margin-bottom: 29px;
}
.things li:last-child {
  padding-bottom: 0;
}
.things__item-caption {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 12px;
}
.things__item-caption--house::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -50px;
  width: 40px;
  height: 40px;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 40px;
}
.things__item-caption--present::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -50px;
  width: 40px;
  height: 50px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 40px;
}
.things__item-caption--food::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -50px;
  width: 40px;
  height: 40px;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 40px;
}
.things__item-text {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}
.things__item-text br {
  display: none;
}
@media (min-width: 768px) {
  .things {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .things__item {
    display: block;
    width: 33%;
    margin: 0;
    padding: 0;
  }
  .things li:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .things li:not(:last-child) {
    margin-bottom: 0;
  }
  .things__item-caption {
    font-size: 21px;
    margin-top: 121px;
    margin-bottom: 20px;
    text-align: center;
  }
  .things__item-caption--house::before {
    top: -100px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    background-size: 80px;
  }
  .things__item-caption--present::before {
    top: -100px;
    left: calc(50% - 30px);
    width: 80px;
    height: 100px;
    background-size: 62px;
  }
  .things__item-caption--food::before {
    top: -100px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    background-size: 80px;
  }
  .things__item-text {
    text-align: center;
    width: 185px;
    margin: 0 auto;
  }
  .things__item-text br {
    display: block;
  }
}
@media (min-width: 1200px) {
  .advantages__list-things {
    padding: 38px 0 83px;
  }
  .things__item {
    width: 33%;
  }
  .things__item-text {
    width: 290px;
  }
}
.trip {
  margin-bottom: 30px;
}
.trip__title {
  display: block;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin: 32px 0 20px;
  padding: 0;
}
.trip__text {
  display: block;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  padding: 0 20px;
  margin: 0 0 35px;
}
.trip__button {
  padding: 15px 0;
  margin: 0 21px 50px;
  background-color: #81b3d2;
}
.trip__button:hover {
  background-color: #669ec0;
}
.trip__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.trip__map {
  display: block;
}
.trip br {
  display: none;
}
@media (min-width: 768px) {
  .trip {
    margin-bottom: 26px;
  }
  .trip__title {
    font-size: 30px;
    line-height: 26px;
    margin: 53px 0 31px;
  }
  .trip__text {
    margin: 0 0 43px;
  }
  .trip br {
    display: block;
  }
  .trip__button {
    width: 458px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto 60px;
  }
  .trip__map {
    width: 768px;
  }
  .trip__map-image {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .trip {
    margin-bottom: 27px;
  }
  .trip__text {
    margin: 0 0 50px;
  }
  .trip__button {
    margin: 0 auto 67px;
  }
  .trip__map {
    width: 1200px;
  }
  .trip__map-image {
    width: 1200px;
  }
}
.video {
  margin-bottom: 73px;
}
.video__title {
  display: block;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 27px;
}
.video__text {
  display: block;
  line-height: 24px;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 40px;
}
.video__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.video picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  line-height: 0;
  padding: 0;
}
.video__scale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -45px;
  margin: 0 auto;
  width: 280px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
}
.video__scale::before {
  content: "";
  display: block;
  width: 235px;
  height: 3px;
  background-color: rgba(111, 104, 101, 0.9);
}
.video__scale::after {
  content: "";
  position: absolute;
  left: 57px;
  top: 17px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
}
.video__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  background-color: #f2f2f2;
  height: 66px;
}
.video__controls i {
  width: 70px;
}
.video__controls i:nth-child(1) {
  margin-right: auto;
}
.video__replay,
.video__subtitles,
.video__full-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video__subtitles svg {
  padding-left: 30px;
}
.video__replay svg,
.video__subtitles svg,
.video__full-screen svg {
  fill: #5c6870;
}
.video__replay svg:hover,
.video__subtitles svg:hover,
.video__full-screen svg:hover {
  fill: #333333;
}
.video__replay svg:active,
.video__subtitles svg:active,
.video__full-screen svg:active {
  fill: #b8b8b8;
}
@media (min-width: 768px) {
  .video {
    margin-bottom: 74px;
  }
  .video__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .video__text {
    width: 440px;
    margin: 0 auto 75px;
  }
  .video__picture {
    width: 648px;
    margin: 0 auto;
  }
  .video__scale {
    width: 648px;
    margin: 0 auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 93px;
    top: -93px;
    left: 60px;
  }
  .video__scale::before {
    width: 395px;
    margin-left: 94px;
  }
  .video__scale::after {
    left: 210px;
    top: 41px;
  }
  .video__controls {
    position: absolute;
    top: -93px;
    left: 60px;
    background-color: inherit;
    width: 648px;
    height: 93px;
  }
  .video__replay svg {
    padding-left: 15px;
  }
  .video__subtitles svg {
    padding-left: 0;
  }
  .video__full-screen svg {
    padding-right: 27px;
  }
  .video__replay svg,
  .video__subtitles svg,
  .video__full-screen svg {
    fill: #ffffff;
  }
  .video__replay svg:hover,
  .video__subtitles svg:hover,
  .video__full-screen svg:hover {
    fill: #c2c2c2;
  }
  .video__replay svg:active,
  .video__subtitles svg:active,
  .video__full-screen svg:active {
    fill: #949494;
  }
}
@media (min-width: 1200px) {
  .video {
    margin-bottom: 115px;
  }
  .video__content {
    width: 800px;
    margin: 0 auto;
  }
  .video__title {
    margin-bottom: 33px;
  }
  .video__picture {
    width: 800px;
  }
  .video__scale {
    left: 0;
    width: 800px;
  }
  .video__scale::before {
    width: 542px;
  }
  .video__controls {
    left: 0;
    width: 800px;
  }
  .video__subtitles svg {
    padding-right: 10px;
  }
  .video__full-screen svg {
    padding-right: 35px;
  }
}
.wellcom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -36px;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 100%, 50% 100%;
  background-size: cover, auto;
  min-height: 159px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .wellcom {
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 100%, 50% 100%;
    background-size: cover, 240% 245%;
  }
}
.wellcom img {
  margin-top: 50px;
  max-width: none;
  height: 44px;
}
@media (min-width: 768px) {
  .wellcom {
    min-height: 290px;
    margin: 0;
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-size: contain, auto;
  }
  .wellcom img {
    max-width: 100%;
    width: 460px;
    height: auto;
    margin-top: 95px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .wellcom {
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@2x.jpg");
    background-position: 50% 100%, 50% 100%;
    background-size: contain, 768px;
  }
}
@media (min-width: 1200px) {
  .wellcom {
    min-height: 302px;
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-size: contain, auto;
  }
  .wellcom img {
    margin-top: 102px;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .wellcom {
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
    background-position: 50% 100%, 50% 100%;
    background-size: contain, 1200px;
  }
}

/*# sourceMappingURL=style.css.map */
